Repository mwhayford/WhatsNext, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies, configuration, database, tests

chore: add GitHub setup guide and fix Tailwind v4 configuration
  GITHUB_SETUP.md
  backend/src/WhatsNext.API/Program.cs
  frontend/postcss.config.js
  frontend/src/index.css
  push-to-github.ps1
Labels: backend, frontend, documentation

docs: update README badges with correct GitHub username
  README.md
Labels: documentation

style: apply code formatting and update dependencies
  backend/src/WhatsNext.Application/Common/Interfaces/IApplicationDbContext.cs
  backend/src/WhatsNext.Application/Common/Interfaces/ICurrentUserService.cs
  backend/src/WhatsNext.Application/Common/Interfaces/IDateTime.cs
  backend/src/WhatsNext.Application/DependencyInjection.cs
  backend/src/WhatsNext.Domain/Common/AuditableEntity.cs
  backend/src/WhatsNext.Domain/Common/BaseEntity.cs
  backend/src/WhatsNext.Domain/Entities/Habit.cs
  backend/src/WhatsNext.Domain/Entities/HabitCompletion.cs
  backend/src/WhatsNext.Domain/Entities/Quote.cs
  backend/src/WhatsNext.Domain/Entities/TimerSession.cs
  backend/src/WhatsNext.Domain/Entities/TodoTask.cs
  backend/src/WhatsNext.Domain/Entities/User.cs
  backend/src/WhatsNext.Domain/Enums/HabitFrequency.cs
  backend/src/WhatsNext.Domain/Enums/SessionType.cs
  backend/src/WhatsNext.Domain/Enums/TaskPriority.cs
  backend/src/WhatsNext.Domain/Enums/TaskStatus.cs
  backend/src/WhatsNext.Infrastructure/DependencyInjection.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/HabitCompletionConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/HabitConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/QuoteConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/TimerSessionConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/TodoTaskConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/UserConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Contexts/ApplicationDbContext.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Migrations/20251007011622_InitialCreate.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Seeders/DataSeeder.cs
  backend/src/WhatsNext.Infrastructure/Services/DateTimeService.cs
  backend/tests/WhatsNext.IntegrationTests/UnitTest1.cs
  backend/tests/WhatsNext.UnitTests/UnitTest1.cs
  frontend/package.json
  package-lock.json
Labels: backend, frontend, dependencies, database, tests

feat: implement JWT authentication and user management
  backend/src/WhatsNext.API/Controllers/AuthenticationController.cs
  backend/src/WhatsNext.API/Program.cs
  backend/src/WhatsNext.API/WhatsNext.API.csproj
  backend/src/WhatsNext.API/appsettings.json
  backend/src/WhatsNext.Application/Common/Interfaces/IAuthenticationService.cs
  backend/src/WhatsNext.Application/Common/Models/AuthenticationResult.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommand.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommandHandler.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommandValidator.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommand.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommandHandler.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommandValidator.cs
  backend/src/WhatsNext.Domain/Entities/User.cs
  backend/src/WhatsNext.Infrastructure/DependencyInjection.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Configurations/UserConfiguration.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Migrations/20251007014233_AddAuthenticationToUser.Designer.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Migrations/20251007014233_AddAuthenticationToUser.cs
  backend/src/WhatsNext.Infrastructure/Services/AuthenticationService.cs
  backend/src/WhatsNext.Infrastructure/WhatsNext.Infrastructure.csproj
Labels: backend, dependencies, configuration, database

feat: add Docker containerization with PostgreSQL
  backend/.dockerignore
  backend/Dockerfile
  backend/src/WhatsNext.API/Controllers/AuthenticationController.cs
  backend/src/WhatsNext.API/Controllers/HealthController.cs
  backend/src/WhatsNext.API/Program.cs
  backend/src/WhatsNext.Application/Common/Interfaces/IAuthenticationService.cs
  backend/src/WhatsNext.Application/Common/Models/AuthenticationResult.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommand.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommandHandler.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommandValidator.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommand.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommandHandler.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommandValidator.cs
  backend/src/WhatsNext.Infrastructure/Persistence/Migrations/20251007014233_AddAuthenticationToUser.cs
  backend/src/WhatsNext.Infrastructure/Services/AuthenticationService.cs
  backend/tests/WhatsNext.IntegrationTests/UnitTest1.cs
  backend/tests/WhatsNext.UnitTests/UnitTest1.cs
  docker-compose.yml
  docker-start.ps1
  docker-start.sh
  docs/DOCKER.md
  env.example
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Labels: backend, frontend, documentation, database, tests

docs: update README with Docker instructions and current status
  README.md
Labels: documentation

docs: add Docker implementation summary
  docs/DOCKER_SUMMARY.md
Labels: documentation

fix: update frontend Dockerfile to use npm install for development
  frontend/Dockerfile
Labels: frontend

feat: add Redis session management
  backend/src/WhatsNext.API/Controllers/AuthenticationController.cs
  backend/src/WhatsNext.Application/Common/Interfaces/IAuthenticationService.cs
  backend/src/WhatsNext.Application/Common/Interfaces/IRedisService.cs
  backend/src/WhatsNext.Application/Common/Interfaces/ISessionService.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Login/LoginCommandHandler.cs
  backend/src/WhatsNext.Application/Features/Authentication/Commands/Register/RegisterCommandHandler.cs
  backend/src/WhatsNext.Infrastructure/DependencyInjection.cs
  backend/src/WhatsNext.Infrastructure/Services/AuthenticationService.cs
  backend/src/WhatsNext.Infrastructure/Services/RedisService.cs
  backend/src/WhatsNext.Infrastructure/Services/SessionService.cs
  backend/src/WhatsNext.Infrastructure/WhatsNext.Infrastructure.csproj
  docker-compose.yml
  env.example
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Input.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/Register.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/types/auth.ts
  package-lock.json
Labels: backend, frontend, dependencies

feat: implement flexible OAuth authentication system
  backend/src/WhatsNext.API/Controllers/AuthenticationController.cs
  backend/src/WhatsNext.API/Program.cs
  backend/src/WhatsNext.API/WhatsNext.API.csproj
  backend/src/WhatsNext.API/appsettings.json
  backend/src/WhatsNext.Application/Common/Interfaces/IAuthenticationService.cs
  backend/src/WhatsNext.Application/Common/Interfaces/IExternalAuthenticationService.cs
  backend/src/WhatsNext.Infrastructure/DependencyInjection.cs
  backend/src/WhatsNext.Infrastructure/Services/AuthenticationService.cs
  backend/src/WhatsNext.Infrastructure/Services/GoogleAuthenticationService.cs
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/auth/GoogleCallback.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/services/authService.ts
  frontend/src/services/googleAuthService.ts
  frontend/src/types/auth.ts
  package-lock.json
Labels: backend, frontend, dependencies, configuration

.github/labeler.yml:

# Auto-labeler configuration for pull requests

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/package.json'
      - 'frontend/package-lock.json'
      - 'backend/**/*.csproj'
      - 'backend/Directory.Build.props'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/.editorconfig'
      - '**/appsettings*.json'
      - '**/.eslintrc.*'
      - '**/.prettierrc*'
      - '**/stylecop.json'
      - '**/tsconfig*.json'
      - '**/vite.config.*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/Persistence/**'
      - 'backend/**/Migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**'
      - 'frontend/**/*.test.*'
      - 'frontend/**/*.spec.*'
